
/* CSS RESET */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}

/* Gradient Theme Properties */

.gradientbackgr {
  background: linear-gradient(
          45deg,
          #1decc5b3,
          #5b0ed6b3 100%)
}
