/* colour details used for styling major components */
.gradientbackgr {
  background: linear-gradient(
          45deg,
          #1decc5b3,
          #5b0ed6b3 100%)
}
.transparentbackgr {
  background-color: rgba(173, 216, 230, 0.4) !important;
}

/* CSS RESET */
html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}


a {
  text-decoration: none;
  color: black;
}

/* setting app background and page responsiveness */
body {
  min-height: 100%;
  background: linear-gradient(
          45deg,
          #1decc5b3,
          #5b0ed6b3 100%);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content_cnt {
  align-self: stretch;
}

footer { 
  margin-top: auto;
}

/* conditional formating for text in response boxes */
.success{
  color: blue;
}

.fail {
  color: red;
}

/* custom styling for all jumbotron elements */
.jumbotron {
  background-color: rgba(173, 216, 230, 0.4) !important;
}

/* linear background for modal pop ups */
.modal-content {  
  background: linear-gradient(
          195deg,
          #1decc5b3,
          #5b0ed6b3 100%);
}
